* {
  font-family: inherit
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;  
  font-size: 14px;
  font-family: avertacylight;
}

h1 {
  font-family: HelveticaNeueBd;
  font-family: HelveticaNeueBold;
  font-family: HelveticaNeueLight;
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter;
  font-family: avertacy;
}

button {
  color: inherit;
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url("/assets/fonts/helveticaneue/Helvetica Neu Bold.ttf");
}

@font-face {
  font-family: HelveticaNeueBlackCond;
  src: url("/assets/fonts/helveticaneue/HelveticaNeue BlackCond.ttf");
}

@font-face {
  font-family: HelveticaNeueLight;
  src: url("/assets/fonts/helveticaneue/HelveticaNeue Light.ttf");
}

@font-face {
  font-family: HelveticaNeueMedium;
  src: url("/assets/fonts/helveticaneue/HelveticaNeue Medium.ttf");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("/assets/fonts/helveticaneue/HelveticaNeue.ttf");
}

@font-face {
  font-family: HelveticaNeueThin;
  src: url("/assets/fonts/helveticaneue/HelveticaNeue Thin.ttf");
}

@font-face {
  font-family: HelveticaNeueBd;
  src: url("/assets/fonts/helveticaneue/HelveticaNeueBd.ttf");
}

@font-face {
  font-family: HelveticaNeueHv;
  src: url("/assets/fonts/helveticaneue/HelveticaNeueHv.ttf");
}

@font-face {
  font-family: HelveticaNeueIt;
  src: url("/assets/fonts/helveticaneue/HelveticaNeueIt.ttf");
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url("/assets/fonts/helveticaneue/HelveticaNeueLt.ttf");
}

@font-face {
  font-family: HelveticaNeueMed;
  src: url("/assets/fonts/helveticaneue/HelveticaNeueMed.ttf");
}

@font-face {
  font-family: AvertacyBold;
  src: url("/assets/fonts/avertacy-bold.otf");
}

@font-face {
  font-family: AvertacyLight;
  src: url("/assets/fonts/avertacy-light.otf");
}

@font-face {
  font-family: AvertacyMed;
  src: url("/assets/fonts/avertacy-med.otf");
}

@font-face {
  font-family: Avertacy;
  src: url("/assets/fonts/avertacy-reg.otf");
}

